<section id="content">
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Index</h2>
                    <hr class="star-light">
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-lg-4 col-lg-offset-2">-->
                    <!--<p></p>-->
                <!--</div>-->
                <!--<div class="col-lg-4">-->
                    <!--<p></p>-->
                <!--</div>-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                    <!--<a href="#" class="btn btn-lg btn-outline">-->
                        <!--<i class="fa fa-download"></i> button-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <ul class="media-list">
                        <li class="media" ng-repeat="message in messages">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" ng-src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTI2MzA1ZGU2ZSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MjYzMDVkZTZlIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#"><small>{{ message.user }}</small></a>
                                    - <small>{{ message.createdAt | date: 'H:i' }}</small>
                                </h4>
                                <p>{{ message.text }}<p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>
</section>